/* <body> */
html, body {
  /* Allowed the background to be centered and scaled */
  height: 100%;
  margin: 0;

  /* Prevent header overlay */
  padding-top: 25px;

  /* Prevent footer overlay */
  padding-bottom: 20px;
}

/* <header> */
/* </header> */
/* <article ng-view> */
article[ng-view] {
  /* The background image used */
  background-image: url(../img/background.svg);

  /* Full height */
  height: 100%;

  /* Center and scale the background image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Vertical centering of children */
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.top-buffer {
  margin-top: 15px;
}

.bottom-buffer {
  margin-bottom: 15px;
}

.bs {
  background-color: #ffffff;
  /* box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* </article> */
/* <footer> */
/* </footer> */
/* </body> */

.hvr-underline-from-center:before {
  background: #ff530d;
}

#mapid {
  height: 60vh;
}

/* .navbar {
  height: 10vh;
} */


label.ng-hide-remove {
  display:block!important;
  animation: fadeInRight 500ms;
}

label.ng-hide-add {
  display:block!important;
  animation: fadeOutRight 250ms;
}

.progress-bar {
  background-color: #2b3a42;
  color: #bdd4de;
}

/* Animations */
@-webkit-keyframes infinite-rotation /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes infinite-rotation {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.infinite-rotation {
  -webkit-animation: infinite-rotation 60s linear infinite;
  -moz-animation: infinite-rotation 60s linear infinite;
  -ms-animation: infinite-rotation 60s linear infinite;
  -o-animation: infinite-rotation 60s linear infinite;
  animation: infinite-rotation 60s linear infinite;
}
