<div class="container-fluid">

  <!-- Research header -->
  <div class="row well animated fadeInDown" style="text-align:center;">
    <div class="col-md-4">
      <button class="btn btn-default btn-lg" type="button" ng-click="vm.category = 'Écoles'">Écoles <span class="badge" ng-bind="vm.schools.length"></span></button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-default btn-lg" type="button" ng-click="vm.category = 'Formations'">Formations <span class="badge" ng-bind="vm.courses.length"></span></button>
    </div>
  </div>

  <!-- Research area -->
  <div class="row">

    <!-- Map -->
    <div class="col-md-8 animated fadeInLeft" style="height:60vh">
      <div id="mapid"></div>
    </div>

    <!-- Content -->
    <div class="col-md-4 animated fadeInRight" style="background-color:white;height:60vh;">

      <!-- Research -->
      <div class="row" style="height:4vh;margin-top:1vh;margin-bottom:1vh;" ng-if="vm.contentType === 'list'">
        <form name="mrForm" novalidate>
          <div class="col-md-12">
            <div class="input-group">

              <!-- Categories -->
              <div class="input-group-btn">
                <button class="btn btn-default hvr-icon-wobble-horizontal" type="button" ng-click="vm.changeCategory()">
                  <i class="glyphicon glyphicon-transfer hvr-icon"></i> <span ng-bind="vm.category"></span>
                </button>
              </div>

              <!-- Research bar -->
              <input class="form-control" id="searchId" name="searchName" type="text" placeholder="Rechercher" ng-model="vm.research">

              <!-- Reset -->
              <div class="input-group-btn">
                <button class="btn btn-default hvr-icon-spin" type="button" ng-click="vm.reset()">
                  <i class="glyphicon glyphicon-refresh hvr-icon"></i>
                </button>
              </div>

            </div>
          </div>
        </form>
      </div>

      <!-- List -->
      <div class="row" style="height:54vh;overflow-y:scroll;" ng-if="vm.contentType === 'list'">
        <!-- Schools -->
        <div class="col-md-offset-1 col-md-10 well hvr-underline-from-center" style="color:red;cursor:pointer;" ng-if="vm.category === 'Écoles'" ng-repeat="school in vm.schools | filter : vm.research" ng-click="vm.showSchool(school._id)" ng-bind="school.name">

        </div>

        <!-- Courses -->
        <div class="col-md-offset-1 col-md-10 well hvr-underline-from-center" style="color:blue;cursor:pointer;" ng-if="vm.category === 'Formations'" ng-repeat="course in vm.courses | filter : vm.research" ng-click="vm.showCourse(course._id)" ng-bind="course.name">

        </div>
      </div>

      <!-- Element -->
      <div class="row" style="height:60vh;overflow-y:scroll;" ng-if="vm.contentType === 'element'">
        <!-- School -->
        <div class="col-md-12">
          <h3 ng-bind="vm.school.name"></h3>
        </div>

        <!-- Course -->
        <div class="col-md-12">
          <h3 ng-bind="vm.course.name"></h3>
        </div>
      </div>

    </div>
  </div>
</div>
